html{height:100%;width:100%}
body
{
    color:#000;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    height:100%;
    width:auto;
    margin:0;
    padding:0;
    overflow-y:scroll
}
a{
    color:#2067b0;
    text-decoration:none;
    -webkit-transition:border-bottom-color .2s linear;
    transition:border-bottom-color .2s linear
}

a:hover{color:#2067b0;text-decoration:none}

h1{color:#555;font-size:30px;font-weight:normal;margin:0;padding:0}
img{border:medium none}
input{outline:0}
input::-ms-clear{display:none}
.bitrix24-light-theme 
.help-block-icon,
.bitrix24-default-theme 
.help-block-icon 
{
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.955%2015.491a7.493%207.493%200%201%201%200-14.986%207.493%207.493%200%200%201%200%2014.986zM6.819%209.598h1.669v-.375c0-.25.053-.452.16-.606.107-.154.362-.38.765-.675.588-.416.987-.791%201.197-1.124.21-.334.315-.73.315-1.188%200-.687-.255-1.237-.765-1.649-.51-.412-1.198-.618-2.063-.618-1.05%200-2.042.26-2.978.78l.686%201.369c.806-.408%201.524-.613%202.154-.613.36%200%20.642.071.844.213.201.142.302.348.302.618%200%20.242-.07.46-.211.656-.14.196-.431.45-.872.763-.458.333-.773.647-.945.943a2.037%202.037%200%200%200-.258%201.043v.463zm-.201%202.137c0%20.337.096.598.29.784.192.185.465.278.818.278.344%200%20.613-.095.806-.285.193-.19.29-.448.29-.777%200-.342-.096-.604-.287-.788-.191-.183-.46-.275-.81-.275-.36%200-.635.09-.824.27-.189.178-.283.443-.283.793z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E");
}
.bitrix24-light-theme 
.help-block-icon
{
background-color:rgba(255,255,255,.2);
opacity:.9
}
.bitrix24-default-theme 
.help-block-icon,
.bx-im-bar-default .help-block-icon
{
background-color:rgba(255,255,255,0.15);
opacity:1;
}

.user-img{background-size:24px;border-radius:50%;display:inline-block;height:38px;margin:11px 15px 14px 0;vertical-align:middle;min-width:38px}.user-name{display:inline-block;font-size:14px;height:18px;font-weight:bold;box-sizing:border-box;overflow:hidden;padding-right:16px;position:relative;text-overflow:ellipsis;vertical-align:middle;white-space:nowrap;max-width:220px}.user-name:after{content:'';margin-top:-1px;right:0;top:50%;position:absolute;border:4px solid transparent;width:8px;height:8px;opacity:.7;-webkit-box-sizing:border-box;box-sizing:border-box}.help-block{cursor:pointer;display:block;height:63px;overflow:hidden;position:absolute;right:0;top:0;width:65px}.im-bar-mode .help-block{position:relative}.help-block-counter-wrap{position:absolute;top:7px;right:5px;text-align:center}.help-block-icon{background-position:center;background-repeat:no-repeat;border-radius:50%;height:34px;left:16px;top:15px;position:absolute;width:34px;}


.bitrix24-dark-theme .help-block-icon,
.bitrix24-default-theme .bx-im-bar-scroll-mode .help-block-icon,
.bitrix24-default-theme .bx-im-bar-transparent .help-block-icon,
.bx-im-bar-default .help-block-icon {
background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M7.955%2015.491a7.493%207.493%200%201%201%200-14.986%207.493%207.493%200%200%201%200%2014.986zM6.819%209.598h1.669v-.375c0-.25.053-.452.16-.606.107-.154.362-.38.765-.675.588-.416.987-.791%201.197-1.124.21-.334.315-.73.315-1.188%200-.687-.255-1.237-.765-1.649-.51-.412-1.198-.618-2.063-.618-1.05%200-2.042.26-2.978.78l.686%201.369c.806-.408%201.524-.613%202.154-.613.36%200%20.642.071.844.213.201.142.302.348.302.618%200%20.242-.07.46-.211.656-.14.196-.431.45-.872.763-.458.333-.773.647-.945.943a2.037%202.037%200%200%200-.258%201.043v.463zm-.201%202.137c0%20.337.096.598.29.784.192.185.465.278.818.278.344%200%20.613-.095.806-.285.193-.19.29-.448.29-.777%200-.342-.096-.604-.287-.788-.191-.183-.46-.275-.81-.275-.36%200-.635.09-.824.27-.189.178-.283.443-.283.793z%22%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E"); background-color:rgba(0,0,0,.1);opacity:.9}.authorization-block{height:46px;padding:7px 12px 0 17px;position:absolute;right:20px;top:0;width:231px;}
.pagetitle-but-left,
.pagetitle-but-right,
.pagetitle-but-text,
.filter-but-left,
.filter-but-text-block,
.b24-loader {
background: url("../images/images.png") no-repeat 27px 16px;
height:160px;
margin:130px auto 0;
overflow:hidden;
opacity:0;position:relative;
-webkit-transform:scale(.2,.2);
transform:scale(.2,.2);
width:160px;
transition:all .3s linear
}
