<!DOCTYPE html>
<html>

<head>
	<title>TODO supply a title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="template-bitrix24 no-paddings start-page bitrix24-light-theme im-bar-mode">
	<div class="bx-im-bar bx-im-bar-transparent" id="bx-im-bar">
		<div class="help-block" id="bx-help-block" title="Aide">
			<div class="help-icon-border"></div>
			<div class="help-block-icon"></div>
			<div class="help-block-counter-wrap" id="bx-help-notify"></div>
		</div>
	</div>
</body>

</html>